body {
  padding-top: 56px; /* Adjust for fixed navbar height */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1030; /* Bootstrap's z-index for navbars */
}

section {
  padding: 30px 0;
}

table th,
table td {
  text-align: center;
}

form .form-label {
  font-weight: bold;
}

form button {
  margin-top: 10px;
}
